<!DOCTYPE html>
<html lang="en">
<head>
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="About this project";
	<meta charset="UTF-8">
<style>	
.navbar {
  overflow: hidden;
  background-color: "white";
}
.navbar a {
  float: right;
  color: "white";
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: "white";
  color: black;
}
.navbar a.active {
  background-color: "white";
  color: "white";
}
div {
  border-radius: 5px;
  background-color: "white";
  padding: 20px;
}
</style>
</head>
<body>
<div class="navbar">
	<a href="animalpicker.tech/about" style="color:#000000";>About<a/>
	<a class="active" href="animalpicker.tech" style="color:#000000">Home</a>
</div>
<p align="center" style="padding-top:5em; margin-bottom:2em"><font size="24px">About</font></p>
<p align="center" style="padding-top:2em; margin-left:10em; margin-right:10em; line-height:2"><font size="4em">Our website asks for two things: the visitor’s favorite animal and a picture of the visitor’s face. 
Using AI/ML libraries, the backend program finds the visitor’s emotions. An image of the visitor’s favorite animal with the same emotions is subsequently generated, along with 
general information about it.</p>
<p align="center" style="padding-top:2em; margin-left:10em; margin-right:10em; line-height:2"><font size="4em">Our mission with this project was to raise awareness of the vast 
animal kingdom; to see a glimpse of their environments and diverse appearances. Visitors are presented with their favorite animal(s) experiencing similar emotions, as well as 
further information about the species. It not only strengthens the desire to learn more about them but allows the visitor to see possible similarities and connections. According 
to a research paper titled “Number of Threatened Species is Rising”, the number of threatened or endangered animals (mammals, insects, mollusks, fish, reptiles, etc.) has risen 
rapidly over the past 15 years (Katharina Buchholz). It is our duty to ensure that these threatened species (or any wild species) avoid extinction. This can be accomplished 
through implementing more ecologically friendly behaviors, supporting conservation initiatives, and minimizing our environmental effects. We need to protect against the 
ever-increasing dangers that wild animals face in the presence of modern societal changes.</p>
</body>
</html>
